<div class="mb-3">
<span class="text-large break-all" id="commentSpan<%= comment._id %>">
    <% let maxLength = 250 %>
    <% let commentText = comment.comment %>
    <% if(commentText.length > maxLength) {%>
        <span class="displaycomment"><%= commentText.substr(0,maxLength)%></span>
        <span class="elipsis">...<br></span>
        <button class="readmore" onclick=readmore(this)>Read More</button>
        <span class="restofcomment hidden"><%= commentText.substr(maxLength, commentText.length) %></span>
       
    <% } else { %>
    <%= commentText %>
    <% } %>

</span>
<br>
<div class="meta">
    <span class="text-xs flex flex-row">left by <%= comment.user.userName %> at <%= comment.createdAt.toLocaleDateString('en-us', {year: "numeric", month: "short", day: "numeric", hour: "numeric", minute: "numeric"}) %><% if(comment.createdAt !== comment.modifiedAt) { %>, edited at <%= comment.modifiedAt.toLocaleDateString('en-us',  {year: "numeric", month: "short", day: "numeric", hour: "numeric", minute: "numeric"}) %>.<% }%>
        <!-- only display delete button if comment creator is current user. -->
        <% if (String(comment.user._id) === String(user._id))  { %>
        <% /* match value but not type. they are of different types. */ %> 
        <div id="controlbuttons" class="flex flex-row">

            <form
            action="/comment/delete/<%= comment._id %>?_method=DELETE&happyhomeid=<%= happyhomeid %> "
            method="POST"
            class="w-8 h-8 inline"
            > <!-- forms display as block by default.-->
            <button type="submit" hover="delete"  class="btn btn-blue btn-small fa fa-trash inline"><svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M3 12l6.414 6.414a2 2 0 001.414.586H19a2 2 0 002-2V7a2 2 0 00-2-2h-8.172a2 2 0 00-1.414.586L3 12z"></path></svg></button>
            </form>
            <button class="btn btn-blue btn-small fa fa-trash inline" style="display:inline" onclick="displayEditcommentForm('<%= comment._id %>')">Edit</button>
            <div class="w-8 h-8 inline relative">
            
            <form 
            action="#"
            class="w-8 h-8 inline flex  hidden" 
            id="editComment<%= comment._id%>"
            data-commentid="<%= comment._id %>"
            onsubmit="return editComment(event)">
                <input type="text" name="newcomment" value="<%= commentText %>" id="commentTextForm<%= comment._id %>" class="text-black">
                <input type="submit" value="Submit" class="btn btn-blue btn-small">
            </form>
            </div>
        </div>
        <% } %>
    </span>
</div>
</div>