<%- include('partials/header') -%>
    
    <div class="container px-5 pt-2 pb-2 md:px-10 md:pt-5 md:pb-5 dark:text-white">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.success) { %>
            <% messages.success.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
            <% }) %>  
        <% } %>
        <h1 class="text-3xl">Contact Me</h1>
        <p class="text-sm">Note: I must use my legal name in public communication</p>
        <p class="text-xl">Email:</p>
        <address><a href="mailto:kerrjasmine44@gmail.com" class="text-blue-500 dark:text-blue-300">kerrjasmine44@gmail.com</a></address>
        <p class="text-xl">Github:</p>
        <p class="text-blue-500 dark:text-blue-300 italic">
            <a href="https://github.com/jasmine-9000">jasmine-9000</a>
        </p>    
        <p class="text-xl">
            Twitter
        </p>
        <p>
            <a href="https://twitter.com/William83292075?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @William83292075</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p> 
        <p>
            Or, you can use my contact form.
        </p>
        <form action="/email/receiveEmail" method="POST">
            <div class="mb-3 flex flex-col">

                <label for="name">Name:</label>
                <input type="text"class="px-3 py-3 w-1/2 text-black" placeholder="Name" name="name">
            </div>
            <div class="mb-3 flex flex-col">
                <label for="email">Email Address</label>
                <input type="email" class="px-3 py-3 w-1/2 text-black" placeholder="johncena@gmail.com" name="email">
            </div>
            <div class="mb-3 flex flex-col">
                <label for="message">Message</label>
                <textarea type="text" class="px-3 py-3 text-black" cols="100" rows="15" placeholder="Your message here..." name="message"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-blue">
            </div>
        </form>
    </div>
<%- include('partials/footer') -%>
