<%- include('partials/header') -%>
<div class="container md:mx-auto md:my-auto dark:text-white p-2">
    
    <div id="toast-container"></div>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1 class="text-3xl mb-10">Edit Home</h1>
    <% if (happyhome.image) { %>
    <button onclick="deleteImage()" class="btn btn-blue">Delete image</button>
    <p class="text-sm">Other unsaved changes will be lost.</p>

            <script>
                function deleteImage() {
                    const url = '/happyHome/deleteHappyHomeImage/<%= happyhome.id %>'
                    fetch(url, {
                        method: 'PUT',
                        redirect: 'follow'
                    })
                    .then(response => {
                        if(response.redirected) {
                            window.location.href = response.url;
                        } else {
                            throw {msg: "Could not redirect page."} 
                        }
                    })
                    .catch(err => {
                        console.log("Error: ");
                        console.log(err);
                        generateToast({message: "Error redirecting page. Check your browser console for details."})
                    })
                    
                }
    </script>
    <% } %>

    <form class="mb-5" action="/happyHome/editHappyHomeWrite/<%= happyhome.id %>?_method=PUT" method="POST"  enctype='multipart/form-data'>
        <div class="mb-5">

            <label for="name" class="form-label">Edit Name</h1>
            <input type="text" class="form-control" id="name" name="name" value="<%= happyhome.name %>">
        </div>
        <div class="mb-5">

            <label for="address" class="form-label">Edit Display Address</h1>
            <input type="text" class="form-control" id="address" name="address" value="<%= happyhome.address %>">
        </div>
        <div class="mb-3 flex flex-col">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control border-2 p-2 text-black" id="description" name="description" placeholder="Enter a description here...">
                <%= happyhome.description %>
            </textarea>
            
        </div>
        
        <% if(happyhome.image) { %>
            <h1 class="form-label">Edit Image</h1>
            <img src="<%= happyhome.image %>" >
            
           
            
        <% } else { %>
            <h1 class="form-label">No image uploaded</h1>
        <% } %>
        <div class="mb-5">
            <label for="imgUpload" class="form-label">Upload/Change Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
        </div>

        <div class="mb-3 relative">
            <label for="googlemapsgeocoder" class="form-label">Google Maps Address Lookup</label>
            <input type="text" class="form-control" id="googlemapsgeocoder" name="googlemapsgeocoder" oninput="delayedGeocode(this.value)">
            <!-- <button id="addaddress" class="btn btn-blue">Add Address</button> -->
            <ul id="googlemapsaddresses" class="absolute hidden "> <!-- hidden on initial load-->
            </ul>
        </div>
        <div class="form-label">OR </div>
        <div class="mb-5">
            <h1 class="text-lg">Change Address with Latitude/Longitude (display name won't change)</h1>
            <div class="flex flex-col md:flex-row">

                <div class="latitude-container flex flex-col">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" value="<%= happyhome.location.coordinates ? happyhome.location.coordinates[1] : '' %>">
                </div>
                <div class="longitude-container flex flex-col">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" value="<%= happyhome.location.coordinates ? happyhome.location.coordinates[0] : '' %>">
                </div>
            </div>

        </div>
        <div class="text-2xl">Options</div>
        <%- include('partials/newhomeformoptions', {options: happyhome.options || {}}) %>
        <button type="submit" class="btn btn-blue">Save Changes</button>
    </form>    
</div>
<script src="/js/toast.js"></script>
<script src="/js/geocode.js" defer></script>

<%- include('partials/footer') -%>