<%- include('partials/header') -%>
<script src="/js/comment.js"></script>
<div class="container">
  <div class="m-5 dark:text-white">
    <h2 class="text-4xl"><%= happyhome.name %></h2>
    <figure>
      <% if(happyhome.image) {%>
      <img class="max-w-full h-auto rounded" src="<%= happyhome.image%>" />
      <% } %>
      <div class="row justify-content-between">
        <h3 class="text-2xl">Likes: <span class="likes"><%= happyhome.likes %></span></h3>
      </div>
    </figure>
    
    <div class="col-3 mt-5">
      <p>Information:</p>
      <p>Address: <%= happyhome.address %></p>
      <p>Features:</p>
      <% if(happyhome.options) {%>
        <% happyhomeoptions.forEach((option) => { %>
            <% if(option in happyhome.options) { %>
              <p>✔️ <%= option %></p>
            <% } else { %> 
              <p>❌ <%= option %></p>
            <% } %>
        <% }) %>
      <% } else { %>
        <% happyhomeoptions.forEach((option) => { %> 
            <p>❌ <%= option %></p>
      <% }) %>
      <% } %>
    </div>
    <div class="comments-container mb-5">
      <!-- <div class="mt-5">
        <h2>Add a comment</h2>
        <form action="/comment/add/<%=happyhome._id%>" method="POST">
          <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input
                  type="text"
                  class="block bg-white border border-slate-300"
                  id="comment"
                  name="comment"  
            />
          </div>
          <button type="submit" class="btn btn-blue">Submit</button>
        </form>
      </div> -->
      <h1 class="text-2xl">Comments: </h1>
      <ul>
        <% for( let i = 0; i < comments.length; i++ ) { %>
        <li>
          <%- include('partials/comment', {comment: comments[i], user: {_id: 0}, happyhomeid: happyhome._id}) %>
        </li>
        </form>
        <% } %>
      </ul>
    </div>
    <a href="/login" class="mt-5 mb-5 btn btn-blue">Login to Comment</a>
  </div>
</div>

<%- include('partials/footer') -%>
  