<%- include('partials/header') -%>
<div class="container">

    <h1>Your potential new home!</h1>
    <img src="/imgs/google-maps.jpeg">
    <h1 class="meow">Locations: </h1>
    <ul >
        <% for(let i = 0; i < locations.length; i++) { %> 

            <li><a class="housinglink" href="<%= locations[i].link %>" class="item"><%= locations[i].name %> @ <%= locations[i].address %> </a></li>
        <% } %>
    </ul>
    
</div>

<%- include('partials/footer') -%>