<%- include('partials/header') -%>
<div class="container mx-auto">
  <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %>    
  <% } %>
  <% if (locals.messages.info) { %>
      <% messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
      <% }) %>    
  <% } %>
  <div id="toast-container"></div>
  <div class="row mt-5">
      <div class="col-6">
          <div class="dark:text-white">
              <p class="text-xl"><strong class="font-bold">User Name</strong>: <%= user.userName %></p>
              <p class="text-xl mb-5"><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="btn btn-blue">Logout</a>
          </div>
          <div class="mt-5">
            <h2 class="dark:text-white text-2xl">Add a Home</h2>
            <%- include('partials/addnewhomeform', {}) -%>
          </div>
      </div>
      <div class="dark:text-white col-6 mt-5">
        <h1 class="text-xl">Your Submitted Homes:</h1>
        <ul class="row list-unstyled mb-10">
        <% for(var i=0; i<happyHomes.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/happyHome/<%= happyHomes[i]._id%>">
              <p>Name: <%= happyHomes[i].name %></p>
              <p>Address: <%= happyHomes[i].address %></p>
              <img class="img-fluid" src="<%= happyHomes[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <h2 class="mb-3"><a href="/maps" class="btn btn-blue">See all submitted homes</a>
      </div>  
    </div>
  </div>
</div>
<script src="/js/script.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/variables.js"></script>
<script src="/js/maps.js"></script>
<%- include('partials/footer') -%>